<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="../../src/flopScore.ts"></script>
    <script src="https://play.workadventu.re/iframe_api.js"></script>

</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">
    <div class="w-full max-w-xl p-8 bg-white rounded-lg shadow-md">

        <!-- Histoire 1 -->
        <div id="question1" class="question mt-2">
            <p class="text-lg font-medium text-center">Convaincu par un ami de tenter une nouvelle coiffure "tendance", je me suis rendu chez un coiffeur inexpérimenté. Résultat ? Une coupe asymétrique totalement ratée juste avant une photo de famille importante. J'ai dû porter un chapeau pendant des semaines pour cacher le désastre.</p>
            
            <button type="button" onclick="nextQuestion(1)" class="w-full bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Histoire suivante</button>
        </div>

        <!-- Histoire 2 -->
        <div id="question2" class="question hidden mt-2">
            <p class="text-lg font-medium text-center">Motivé pour impressionner lors d'un dîner, j'ai tenté de faire un gâteau sophistiqué. Malheureusement, distrait par un appel, j'ai oublié le gâteau au four. L'alarme incendie a sonné juste au moment où mes invités arrivaient, accueillis par une fumée noire et une odeur de brûlé.</p>
            
            <button type="button" onclick="nextQuestion(2)" class="w-full bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Histoire suivante</button>
        </div>

        <!-- Histoire 3 -->
        <div id="question3" class="question hidden mt-2">
            <p class="text-lg font-medium text-center">Pour mon premier rendez-vous avec quelqu'un que j'avais rencontré en ligne, j'ai confondu le jour. J'ai donc soigneusement préparé et attendu dans un café... un jour trop tôt. En réalisant mon erreur, j'étais trop gêné pour lui avouer et j'ai prétendu avoir eu un empêchement le jour suivant.</p>
            
            <button type="button" onclick="nextQuestion(3)" class="w-full bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Histoire suivante</button>
        </div>

        <!-- Histoire 4 -->
        <div id="question4" class="question hidden mt-2">
            <p class="text-lg font-medium text-center">Ayant sous-estimé une randonnée "facile", je suis parti en sandales et sans eau suffisante. Résultat ? Des pieds en piteux état et une déshydratation qui m'ont valu une fin de parcours en voiturette de golf, appelée en urgence par un groupe de randonneurs compatissants.</p>
            
            <button type="button" onclick="nextQuestion(4)" class="w-full bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Histoire suivante</button>
        </div>

        <!-- Vote 5 -->
        <div id="question5" class="question hidden mt-2">
            <form id="flopForm">
                <!-- Premiere histoire -->
                <label class="block font-medium text-center p-2 border">
                    <input type="radio" name="flop" value="coiffeur" class="mr-2">
                    Convaincu par un ami de tenter une nouvelle coiffure "tendance", je me suis rendu chez un coiffeur inexpérimenté. Résultat ? Une coupe asymétrique totalement ratée juste avant une photo de famille importante. J'ai dû porter un chapeau pendant des semaines pour cacher le désastre.
                </label>
        
                <!-- Deuxieme histoire -->
                <label class="block font-medium text-center p-2 border">
                    <input type="radio" name="flop" value="gâteau" class="mr-2">
                    Motivé pour impressionner lors d'un dîner, j'ai tenté de faire un gâteau sophistiqué. Malheureusement, distrait par un appel, j'ai oublié le gâteau au four. L'alarme incendie a sonné juste au moment où mes invités arrivaient, accueillis par une fumée noire et une odeur de brûlé.
                </label>
        
                <!-- Troisieme histoire -->
                <label class="block font-medium text-center p-2 border">
                    <input type="radio" name="flop" value="rendez-vous" class="mr-2">
                    Pour mon premier rendez-vous avec quelqu'un que j'avais rencontré en ligne, j'ai confondu le jour. J'ai donc soigneusement préparé et attendu dans un café... un jour trop tôt. En réalisant mon erreur, j'étais trop gêné pour lui avouer et j'ai prétendu avoir eu un empêchement le jour suivant.
                </label>
        
                <!-- Quatrieme histoire -->
                <label class="block font-medium text-center p-2 border">
                    <input type="radio" name="flop" value="randonnée" class="mr-2">
                    Ayant sous-estimé une randonnée "facile", je suis parti en sandales et sans eau suffisante. Résultat ? Des pieds en piteux état et une déshydratation qui m'ont valu une fin de parcours en voiturette de golf, appelée en urgence par un groupe de randonneurs compatissants.
                </label>
        
                <button type="submit" id="submitFlopStory" class="w-full bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Quelle est l'histoire la plus floppesque ?</button>
            </form>
        </div>
        
        <div id="selectedStory" class="hidden mt-4">
            <p class="text-lg font-medium text-center">L'histoire sélectionnée est :</p>
            <p id="selectedStoryContent" class="text-lg font-medium text-center"></p>
        </div>
        

        
    </div>
    <script>
        function nextQuestion(current) {
        var currentQuestion = document.getElementById('question' + current);
        var nextQuestion = document.getElementById('question' + (current + 1));
        if (nextQuestion) {
            currentQuestion.classList.add('hidden');
            nextQuestion.classList.remove('hidden');
        } else {
            submitFlopStory();  // Soumission de flop story pour la dernière question
        }
    }
    </script>
</body>
</html>
